.nav-item {
    transition: all 0.3s;
    height: 70px;
    margin: 0; /* Elimina los márgenes */
    border-top-left-radius: 20px; /* Ajusta el radio para formar un círculo en la parte superior */
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0; /* Asegúrate de que la parte inferior no tenga radio */
    border-bottom-right-radius: 0;
    width: 100%; /* Asegúrate de que los elementos ocupen todo el ancho del contenedor */
    box-sizing: border-box;
    margin-left: 1.5%;
    background-color:#6C7C74 ;
}

.nav-item:hover {
    transform: scale(1.1);
    background-color: #3c8464;
    color: black; /* Cambia el color del texto al hacer hover */
}

.container-Navbar {
    background-color: #111827;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:75px;
    padding: 0; /* Elimina el padding */
}

.background-Navbar {
    background-color: #6C7C74;
    height: 90px;
    padding: 0; /* Elimina el padding */
}

